.evtForm{
	display: flex;
	flex-direction: column;
	width: 500px;
	max-width: 95%;
	margin: auto;
}
.evtForm > *{
	margin: 10px;
}
.evtForm .input{
	display: grid;
	grid-template-columns: 30% 70%;
}
.evtForm .input input:focus{
	outline: none;
}
.select{
	display: grid;
	grid-template-columns: 30% 70%;
}
.timeslot{
	display: grid;
	grid-template-columns: 30% 40% 30%;
	grid-template-rows: 1fr;
}
.evtForm button{
	background: #082032;
	border: none;
	padding: .7rem;
	color: #95bcf0;
	cursor: pointer;
	border-radius: 8px;
	box-shadow: 1px 2px 6px rgba(0,0,0,.25);
	transition:all 0.4s ease;
}
.evtForm button:hover{
	transform: translateY(-3px);
	box-shadow: 2px 4px 8px rgba(0,0,0,.35);
}
.evtForm button:active{
	transform: scale(0.98) translateY(0);
}

.evtForm option{
	color: white;
}
.evtForm select {
	color: white;
}
.red{
	background: red;
}
.blue{
	background: blue;
}
.evtForm .cyan,
.cyan{
	background: cyan;
	color: #222;
}
.navy{
	background: #082032;
}
.green{
	background: green;
}
.black{
	background: black;
}
.evtForm .yellow,
.yellow{
	background: yellow;
	color: #222;
}
.orange{
	background: orange;
}
.brown{
	background: brown;
}
.evtForm .pink,
.yellow{
	background: pink;
	color: #222;
}
.crimson{
	background: crimson;
}
.evtForm .white{
	color: #222;
	background: white;
}
.purple{
	background: purple;
}
.darkblue{
	background: darkblue;
}

.close{
	width: 25px;
	height: 25px;
	background: #222;
	color: #fff;
	position: absolute;
	right: -5px;
	top: -5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bolder;
	border-radius:50%;
}

.wrapperEvent{
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.card{
	margin: 15px;
	box-shadow: 2px 4px 6px rgba(0,0,0,.25);
	width: 400px;
	max-width: 90%;
	transition: all .4s ease;
	color: white;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
}
.card .cyan{
	color: #000;
}
.card:hover{
	transform: translateY(-4px);
	box-shadow: 4px 4px 20px rgba(0,0,0,.4);
}

.calendarBtn{
	background: #95bcf0;
	border: none;
	color: #222;
	border-radius: 8px;
	padding: .8rem 1.5rem;
	margin: 10px;
	position: relative;
	left: 80vw;
	cursor: pointer;
	box-shadow: 2px 4px 6px rgba(0,0,0,.25);
	transition: all .4s ease;
}
.calendarBtn:hover{
	transform: translateY(-3px);
}
.calendarBtn:active{
	transform: scale(.98) translateY(0);
}