.evtForm{
}

.evtForm option{
	color: white;
}
.evtForm select {
	color: white;
}
.red{
	background: red;
}
.blue{
	background: blue;
}
.evtForm .cyan,
.cyan{
	background: cyan;
	color: #222;
}
.grey{
	background: gray;
}
.green{
	background: green;
}
.black{
	background: black;
}
.evtForm .yellow,
.yellow{
	background: yellow;
	color: #222;
}
.orange{
	background: orange;
}
.brown{
	background: brown;
}
.evtForm .pink,
.yellow{
	background: pink;
	color: #222;
}
.crimson{
	background: crimson;
}
.evtForm .white{
	color: #222;
	background: white;
}
.purple{
	background: purple;
}
.darkblue{
	background: darkblue;
}

.wrapperEvent{
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.card{
	margin: 15px;
	box-shadow: 2px 4px 6px rgba(0,0,0,.25);
	width: 400px;
	max-width: 90%;
	transition: all .4s ease;
	color: white;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 10px;
}
.card .cyan{
	color: #000;
}
.card:hover{
	transform: translateY(-4px);
	box-shadow: 4px 4px 20px rgba(0,0,0,.4);
}