.form{
	width: 400px;
	height: 350px;
	background: #95bcf0 ;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 50px auto;
	box-shadow: 2px 4px 6px rgba(0,0,0,.25);
	color: #082032;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 15px;
}
.form > *{
	margin: 20px auto;
}
.input{
	width: 100%;
	display: flex;
	align-items: center;
}
.input label{
	margin: 10px;
	min-width: 90px;
	text-align: left;
	text-transform: uppercase;
	font-weight: 500;
}
.input input{
	flex-grow: 1;
	background: none;
	box-sizing: border-box;
	padding: 5px;
	border-radius: 4px 4px 0 0;
	border: none;
	border-bottom: 1px solid #082032;
	transition: all .5s ease;
}
.input input:focus,
.input input:active{
	outline: 0;
	border-width: 2px;
	background: #f9fafa;
}
.form button{
	background: #082032;
	color: #95bcf0;
	border: none;
	border-radius: 8px;
	padding: .8rem 2.2rem;
	cursor: pointer;
	box-shadow: 2px 4px 6px rgba(0,0,0,.25);
	transition: all .5s ease;
}
.form button:hover{
	transform: translateY(-2px);
}
.form button:active{
	transform: translateY(0) scale(.98);
}